# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# h.atanasov87@gmail.com will be requested for
# review when someone opens a pull request.
*       h.atanasov87@gmail.com
